<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
  <input id="name" type="text" name="name">
  <input id="email" type="text" name="email">
  <input id="password" type="text" name="password">
  <input id= "Sign Up" type="submit" values="Sign Up">
</form>
